.euruko_header
  .line
    .border_left
    .border_right
    .description
      %table
        %tr
          .when
            June 28-29th
            %br
            Kyiv
        %tr
          .what
        %tr
          .about_text
            EuRuKo annual conference 2013 about the Ruby language will take place in Kyiv 28 - 29th of June. 

