.euruko_menu
  .logo
  .menu
    %a{href: "#1"}="Stream"
    %a{href: "#2"}="About"
    %a{href: "#3"}="Speakers"
    %a{href: "#4"}="Tickets"
    %a{href: "#5"}="Schedule"
    %a{href: "#6"}="Party"
    %a{href: "#7"}="Venue"
    %a{href: "#8"}="Guide"
    %a{href: "#9"}="Sponsors"
    %a{href: "#10"}="Contacts"