.guide#8
  .title
    GUIDE
  .description 
    .guide_table
      %table#hotels_table
        %tr#header
          %td#hotel
            Hotel
          %td#phone
            Phone Number
          %td#price
            Price
          %td#url
            URL
        %tr#content
          %td#hotel
            Hotel Kozatskiy
          %td#phone
            +380 44 276 49 14  
          %td#price           
            150 - 80 € 
          %td#url
            http://kozatskiy.kiev.us
        %tr#content
          %td#hotel
            The Hotel Dnipro
          %td#phone
            +380 44 276 49 14  
          %td#price
            80 € 
          %td#url
            http://dniprohotel.ua
        %tr#content
          %td#hotel
            Hotel Ukraine
          %td#phone
            +380 44 276 49 14  
          %td#price
            60 -40 € 
          %td#url
            http://ukraine-hotel.kiev.ua
        %tr#content
          %td#hotel
            Hotel Kozatskiy
          %td#phone
            +380 44 276 49 14  
          %td#price
            150 - 80 € 
          %td#url
            http://kozatskiy.kiev.us
        %tr#content
          %td#hotel
            The Hotel Dnipro
          %td#phone
            +380 44 276 49 14  
          %td#price
            80 € 
          %td#url
            http://dniprohotel.ua
        %tr#content
          %td#hotel
            Hotel Ukraine
          %td#phone
            +380 44 276 49 14  
          %td#price
            60 - 40 € 
          %td#url
            http://ukraine-hotel.kiev.ua
        %tr#header
          %td#hotel
            Hotel
          %td#phone
            Phone Number
          %td#price
            Price
          %td#url
            URL
        %tr#content
          %td#hotel
            Hotel Kozatskiy
          %td#phone
            +380 44 276 49 14  
          %td#price
            150 - 80 € 
          %td#url
            http://kozatskiy.kiev.us
        %tr#content
          %td#hotel
            The Hotel Dnipro
          %td#phone
            +380 44 276 49 14  
          %td#price
            80 € 
          %td#url
            http://dniprohotel.ua
        %tr#content
          %td#hotel
            Hotel Ukraine
          %td#phone
            +380 44 276 49 14  
          %td#price
            60 -40 € 
          %td#url
            http://ukraine-hotel.kiev.ua
        %tr#content
          %td#hotel
            Hotel Kozatskiy
          %td#phone
            +380 44 276 49 14  
          %td#price
            150 - 80 € 
          %td#url
            http://kozatskiy.kiev.us
        %tr#content
          %td#hotel
            The Hotel Dnipro
          %td#phone
            +380 44 276 49 14  
          %td#price
            80 € 
          %td#url
            http://dniprohotel.ua
        %tr#content
          %td#hotel
            Hotel Ukraine
          %td#phone
            +380 44 276 49 14  
          %td#price
            60 - 40 € 
          %td#url
            http://ukraine-hotel.kiev.ua            