.party#6
  .title
    PARTY
  .description 
    .euruko_in_kuiv
      EuRuKo partyhard in Kuiv!
    .about_euruko
      Every year EuRuKo throughs out big party for all participants
      %br
      Do you want to be a part of it?
    .party_sponsor
      %button= "I want to be party sponsor!"