.schedule#5
  .title
    SCHEDULE
  .description
    .schedule_table
      %table#schedule
        %tr#header
          %td#time
          %td#day1
            Day 1
          %td#day2
            Day 2
        %tr#rests_time
          %td#time
            8:30
          %td#day1
            Doors open
          %td#day2
            Doors open
        %tr#rests_time
          %td#time
            9:00 - 9:45         
          %td#day1
            Registration & welcome coffee
          %td#day2
        %tr#rests_time
          %td#time
            9:45 - 10:00
          %td#day1
            Welcome
          %td#day2
            Welcome
        %tr#speaks_time
          %td#time
            10:00 - 11:00
          %td#day1
            .title_speaks
              Keynote
            .who_speaks
              (Yukihiro Matsumoto)
          %td#day2
            .title_speaks
              Keynote
            .who_speaks
              (Yukihiro Matsumoto)
        %tr#rests_time
          %td#time
            11:00 - 11:15
          %td#day1
            Coffee break
          %td#day2
            Coffee break
        %tr#speaks_time
          %td#time
            11:15 - 12:00
          %td#day1
            .title_speaks
              Functional Programming and Ruby
            .who_speaks
              (Pat Shaughnessy)
          %td#day2
            .title_speaks
              Functional Programming and Ruby
            .who_speaks
              (Pat Shaughnessy)        
        %tr#speaks_time
          %td#time
            12:00 - 12:45
          %td#day1
            .title_speaks
              Language Processing with Ruby
            .who_speaks
              (Konstantin Tennhard)
          %td#day2
            .title_speaks
              Language Processing with Ruby
            .who_speaks
              (Konstantin Tennhard)
        %tr#rests_time
          %td#time
            12:45 - 14:00
          %td#day1
            Lunch break
          %td#day2
            Lunch break
        %tr#speaks_time
          %td#time
            14:00 - 15:00
          %td#day1
            .title_speaks
              I See Your 127.32+.A Tale of Rationals
            .who_speaks
              (Xavier Noria)
          %td#day2
            .title_speaks
              I See Your 127.32+.A Tale of Rationals
            .who_speaks
              (Xavier Noria)      
        %tr#speaks_time
          %td#time
            15:00 - 15:45
          %td#day1
            .title_speaks
              Functional Programming and Ruby
            .who_speaks
              (Pat Shaughnessy)   
          %td#day2
            .title_speaks
              Functional Programming and Ruby
            .who_speaks
              (Pat Shaughnessy)   
        %tr#rests_time
          %td#time
            15:45 - 16:00
          %td#day1
            Coffee break
          %td#day2
            Coffee break              
        %tr#speaks_time
          %td#time
            16:00 - 16:45
          %td#day1
            .title_speaks
              Keynote
            .who_speaks
              (Yukihiro Matsumoto)
          %td#day2
            .title_speaks
              Keynote
            .who_speaks
              (Yukihiro Matsumoto)
        %tr#speaks_time
          %td#time
            14:00 - 15:00
          %td#day1
            .title_speaks
              I See Your 127.32+.A Tale of Rationals
            .who_speaks
              (Xavier Noria)
            .about_speaks
              There were fundamental features that no matter your precision, would just not work correctly. After reflecting on the feature set, we ended up resorting to fractions. In this talk I'll explaning how we integrated rationals in the full stack, from JavaScript down to PostgreSQL, going via Active Record. An interesting journey that ends with all cents under control, and me sleeping very well at night.   
          %td#day2
            .title_speaks
              I See Your 127.32+.A Tale of Rationals
            .who_speaks
              (Xavier Noria)     
            .about_speaks
              Money, be careful with money. While developing a branch new website for omline betting I found the requirements related to the flow of money were just not possible to implement with traditional datatypes.
              There were fundamental features that no matter your precision, would just not work correctly. After reflecting on the feature set, we ended up resorting to fractions. In this talk I'll explaning how we integrated rationals in the full stack, from JavaScript down to PostgreSQL, going via Active Record. An interesting journey that ends with all cents under control, and me sleeping very well at night.       
        %tr#rests_time
          %td#time
            17:30 - 18:00
          %td#day1
            Lightning talks 
          %td#day2
            Lightning talks 
        %tr#rests_time
          %td#time
            18:00 - 18:30
          %td#day1
          %td#day2
            Closing & voting