.speakers#3
  .title
    SPEAKERS
  .description
    %table
      %td#photo
      %td#about_speaker
        .name
          Yukihiro Matsumoto
        .who_is
          Ruby chief architect
        .speakers_history
          Lorem ipsum dilir sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation laboris nisi ut aliquip ex ea commodo consequal. Duis aute irure dolor in reprehenderit in voluptatevelit esse ciluum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit amin id est laborum
        .contact_block
          .img
          .contact
            @yukihiro_matz
        .contact_block
          .img2
          .contact
            @matz
  .description
    %table
      %td#photo
      %td#about_speaker
        .name
          Yukihiro Matsumoto
        .who_is
          Ruby chief architect
        .speakers_history
          Lorem ipsum dilir sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation laboris nisi ut aliquip ex ea commodo consequal. Duis aute irure dolor in reprehenderit in voluptatevelit esse ciluum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit amin id est laborum
        .line
          .contact_block
            .img
            .contact
              @yukihiro_matz
          .contact_block
            .img2
            .contact
              @matz
  .description
    %table
      %td#photo
      %td#about_speaker
        .name
          Yukihiro Matsumoto
        .who_is
          Ruby chief architect
        .speakers_history
          Lorem ipsum dilir sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation laboris nisi ut aliquip ex ea commodo consequal. Duis aute irure dolor in reprehenderit in voluptatevelit esse ciluum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit amin id est laborum
        .contact_block
          .img
          .contact
            @yukihiro_matz
        .contact_block
          .img2
          .contact
            @matz