.sponsors#9
  .title
    SPONSORS
  .description  
    .sponsors_description
      This conference wouldn't be held without the support of our amazing sponsors. They have been with us since the beginning and showcasing them and their products is the least we can do for their support toward the Ruby community.We love them for supporting Ruby and making this conference possible.
    .sponsors_title
      GAIA
    .gaia_sponsors
      %table#gaia
        %tr
          %td
            .block1
              .img
          %td
            .block1_left
          %td
            .block1_right
          %td
            .block2
              Founded in 2005. Skroutz S.A. is committed to modern software development actively creating bleeding edge ecommerce offerings and high performance web pages. Based in Athens, Greece, it is the dominant digital brand which operates the leading price comparison engine in Greece Founded in 2005. Skroutz S.A. is committed to modern software development actively creating bleeding
        %tr
          %td
            .block3
              Founded in 2005. Skroutz S.A. is committed to modern software development actively creating bleeding edge ecommerce offerings and high performance web pages. Based in Athens, Greece, it is the dominant digital brand which operates the leading price comparison engine in Greece Founded in 2005. Skroutz S.A. is committed to modern software development actively creating bleeding
          %td
            .block2_left
          %td
            .block2_right
          %td
            .block4
              .img
        
    .sponsors_title
      HELIOS
    .helios_sponsors
      %table#helios
        %tr
          %td
            .block_helios_up1
              .img
            .helios_img_up
          %td
            .block_helios_up2
              .img
            .helios_img_up          
          %td
            .block_helios_up1
              .img
            .helios_img_up          
          %td
            .block_helios_up2
              .img
            .helios_img_up          
        %tr
          %td
            .helios_img_down
            .block_helios_down
              Founded in 2005. Skroutz S.A. is committed to modern software development actively creating bleeding edge ecommerce offerings and high performance web pages. Based in
          %td
            .helios_img_down
            .block_helios_down
              Founded in 2005. Skroutz S.A. is committed to modern software development actively creating bleeding edge ecommerce offerings and high performance web pages. Based in
            
          %td
            .helios_img_down
            .block_helios_down
              Founded in 2005. Skroutz S.A. is committed to modern software development actively creating bleeding edge ecommerce offerings and high performance web pages. Based in
          %td
            .helios_img_down
            .block_helios_down
              Founded in 2005. Skroutz S.A. is committed to modern software development actively creating bleeding edge ecommerce offerings and high performance web pages. Based in       
    .sponsors_title
      SELENE
    .selene_sponsors
      %ul
        %li
          .block_selene1
            .img
        %li
          .block_selene2
            .img
        %li
          .block_selene3
            .img
        %li
          .block_selene4
            .img
        %li
          .block_selene4
            .img
        %li
          .block_selene3
            .img
        %li
          .block_selene2
            .img
        %li
          .block_selene1
            .img
    .sponsors_title
      APHRODITE
    .aphrodite_sponsors
      %ul
        %li
          .block_aphrodite1
            .img
        %li
          .block_aphrodite2
            .img
        %li
          .block_aphrodite3
            .img
        %li
          .block_aphrodite4
            .img
        %li
          .block_aphrodite5
            .img
        %li
          .block_aphrodite6  
            .img        
        %li
          .block_aphrodite1
            .img
        %li
          .block_aphrodite2
            .img
        %li
          .block_aphrodite3
            .img
        %li
          .block_aphrodite4
            .img
        %li
          .block_aphrodite5
            .img
        %li
          .block_aphrodite6
            .img        
    .sponsors_title
      ADDITIONAL SPONSORS
    .additional_sponsors
      %ul#helios
        %li
          .block_additional_up
            PARTY
          .add_img_up
        %li
          .block_additional_up
            INTERNET_UPLINK
          .add_img_up
        %li
          .block_additional_up
            PARTY
          .add_img_up
        %li
          .block_additional_up
            INTERNET_UPLINK
          .add_img_up
        %li
          .block_additional_down
            .img
          .add_img_down
        %li
          .block_additional_down
            .img
          .add_img_down
        %li
          .block_additional_down
            .img
          .add_img_down
        %li
          .block_additional_down
            .img
          .add_img_down
