.stay_in_touch#10
  .title
    STAY IN TOUCH
  .description  
    .stay_in_touch_table
      %table#footer_table
        %tr#header
          %td#left
            If you have any questions or proposais please contact
            %a#contact{href: "#"}=" info@euruko2014.org"
            %p
            Subscribe to our mailing list:
            %br
            %input.field#input_email{placeholder:"email address"}
            %br
            %button#btn_subscribe
              Subscribe
          %td#right
            .button
              %button#wifi
              %button#face
              %button#twit
  %footer
    .copy
      © EuRuKo 2013 - All Ridhts Reversed
    .hrefs
      %a{href: "#"}="Code of Conduct"
      |
      %a{href: "#"}="Terms of Use"
      |
      %a{href: "#"}="Privacy Policy"




