.venue#7
  .title
    VENUE
  .description 
    .venue_description
      Lorem ipsum dilir sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %p
      Ut enim ad minim veniam, quis nostrud exercitation laboris nisi ut aliquip ex ea commodo consequal. Duis aute irure dolor in reprehenderit in voluptatevelit esse ciluum dolore eu fugiat nulla pariatur.
      %p
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit amin id est laborum.
    .venue_map