.party{
  background-image: image-url("eu_in_ku.png");
  @include background-size(100% 100%);
  color: $party_content;
  .description {
    font-weight: bold;
    text-align: center;
    .euruko_in_kuiv{
      @include adjust-font-size-to($party_large-font-size);
    }
    .about_euruko{
      @include padding-leader(2);
      @include padding-trailer(2);
      @include adjust-font-size-to($party-font-size, 2);
      text-transform: uppercase;
      font-family:  'Arial', sans-serif;
    }
    .party_sponsor{
      @include margin-trailer(2);
      text-transform: uppercase;
      button{
        @include adjust-font-size-to($party-font-size);
        @include border-radius(15px);
        background-color: rgba(168,162,129,0.5);
        border: none;
        padding: 20px;      
        color: $party_content;
        &:hover {
          background-color: rgba(168,162,129,0.8);
        }
      }
    }
  }
}
